.profilesContainer {
    background-color: #ffffff;
    border-radius: 30px;
}

.profilesContainer__filterBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 53px 40px 38px;
}

.profilesContainer__filterBoard__ID {
    color: black;
    font-weight: 700;
}

.profilesContainer__filterBoard__ID__number {
    color: green;
}

.profilesContainer__filterBoard__error {
padding-left: 10px;
}

.profilesContainer__filterBoard__inputBox {
    position: relative;
}

.profilesContainer__filterBoard__inputBox__svg {
    position: absolute;
    right: 210px;
    top: 50%;
    transform: translateY(-50%);
}

.profilesContainer__filterBoard__inputBox__input {
    padding: 10px 0px 10px 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #f9fbff;
    border: 0px;
}

.profilesContainer__filterBoard__inputBox__input::placeholder {
    color: #b5b7c0;
    font-size: 12px;
    font-weight: 500;
}

.profilesContainer__table {
    width: 100%;

    border-collapse: collapse;
}

.profilesContainer__table__tr__indentBgn {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(230, 228, 228);

    width: 38px;
}

.profilesContainer__table__tr__th {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(230, 228, 228);

    color: #b5b7c0;
    text-align: left;

    font-size: 14px;
    font-weight: 600;
    width: auto;
    cursor: pointer;
}

.profilesContainer__table__tr__indentEnd {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(230, 228, 228);

    width: 44px;
}

.profilesContainer__table__tr:nth-child(even) {
    background-color: #eee;
}

.profilesContainer__table__td {
    text-align: left;

    padding: 0px 60px 0px 0px;
    width: auto;
    border-bottom: 1px solid rgb(230, 228, 228);
    color: #292d32;
    font-size: 14px;
    font-weight: 600;
}